* {
    margin: 0;
    background-color: lightpink;
  }
div {
    color: gray;
    border: 10px solid gray;
    width: 400px;
    height: 420px;
    border-width: 5px; /* اضبط سمك الحدود حسب الحجم المطلوب */
    text-align: center;
    position: absolute;
    top: 20%;
    right: 35%;
    border-radius: 5px;
}
  #image1 {
    height: 150px;
    width: 150px;
    background-position: absolute;
    background-repeat: no-repeat;
}
a:hover {
    color: gray;
}
a {
    text-decoration: none;
}
